@use '../utils/' as *;

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 1rem;

    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 3.53%);


    @include mq(intermediate) {
        width: 20%;
        padding: 2rem;
    }


    &__icon {
        width: 36px;
        fill: white;

        @include mq(intermediate) {
            display: none;
        }
    }


    &__logo {
        width: 216px;
        height: 36px;
        margin: 0 auto;
    }


    &__features {

        display: none;

        width: 100%;
        margin-top: 3rem;
        border: 1.5px solid hsl(0, 0%, 100%);
        border-radius: 5px;


        @include mq(intermediate) {
            display: block;
        }


        &__item {
            padding: 0.8rem;
            border: 1.5px solid hsl(0, 0%, 100%);

            text-align: center;
        }
    }

}