@use '../utils/' as *;

.satelliteInfo {
    display: none;

    width: 100%;
    padding: 1rem;
    margin-top: 3rem;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 5px;


    @include mq(intermediate) {
        display: block;
    }

    &__title {
        margin-bottom: 1rem;

        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    &__label {
        font-weight: bold;
    }

    &__data {
        margin-top: 1rem;
    }

    p {
        font-size: 0.8rem;
        text-align: center;
    }


}