// Font families
$sans: Calibre, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
$serif: 'Times New Roman', Times, serif;
$fancy:  'Muli', sans-serif;